body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url('../img/bg_login.png') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Segoe UI", sans-serif;
}

.login-box {
    width: 780px;
    min-height: 380px;
    display: flex;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(14px);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 8px 35px rgba(0,0,0,0.35);
}


.login-left {
    width: 45%;
    background: #eef0ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-left img {
    width: 85%;
}

.login-right {
    width: 55%;
    padding: 38px;
    color: white;
}

.login-right h3 {
    font-weight: 700;
    margin-bottom: 28px;
}

.input-group {
    position: relative;   
}

/* FIX TOTAL INPUT TRANSPARAN */
.input-group-text {
    background: rgba(255,255,255,0.20) !important;
    border: 1px solid rgba(255,255,255,0.35) !important;
    border-right: none !important;
    color: #fff !important;
    width: 45px;
    display: flex;
    justify-content: center;
}

.form-control {
    background: rgba(255,255,255,0.20) !important;
    border: 1px solid rgba(255,255,255,0.35) !important;
    border-left: none !important;
    color: white !important;
    height: 42px !important;
    box-shadow: none !important;
}

.form-control::placeholder {
    color: #e4e4e4 !important;
    opacity: .9 !important;
}

.form-control:focus {
    background: rgba(255,255,255,0.27) !important;
    border-color: rgba(255,255,255,0.60) !important;
    color: #fff !important;
    box-shadow: none !important;
}

/* EYE TOGGLE */
.toggle-password {
    position: absolute;
    right: 12px;
    top: 12.5px;
    z-index: 20;
    cursor: pointer;
    color: #fff;
}

.form-control {
    position: relative;
    z-index: 10; 
}

.toggle-password:hover {
    opacity: 1;
}

/* BUTTON */
.btn-login {
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 6px;
    font-weight: bold;
    background: linear-gradient(90deg, #3152ff, #4e68ff);
    color: white;
    margin-top: 12px;
    transition: 0.2s;
}